* {
    -webkit-border-radius: 0 !important;;
    -moz-border-radius: 0 !important;;
    border-radius: 0 !important;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    background: #fff;
}

/* custom */
#root {
    width: 100%;
    height: 100%;
    display: table;
}
.custom-container {
    padding-top: 3%;
}
.navbar {
    margin-bottom: 0;
}
.margin50 {
    margin-top: 50%;
}
.height100 {
    height: 100%;
}
.logo {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 30px;
}
/* custom */
.bx-shadow {
 box-shadow: 1px 1px 5px 1px #ccc;
}
.active-feedback, .active-feedback:hover {
    background-color: #673AB7 !important;
    color: #fff !important;
}

.main-color-bg {
    background-color: #005ea5 !important;
    border-color: #59b3f7 !important;
    color: #fff !important;
}

/* sidebar */
#sidebar {
    /* min-height: 85vh; */
}
#sidebar ul ul.list-group {
    margin-bottom: 0;
}
#sidebar ul ul a.list-group-item {
    padding-left: 40px;
}

/* Panel */
#sidebar .panel-body {
    padding: 0;
}
#sidebar .panel-heading {
    padding: 0;
}
#sidebar .active-nav {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}
#sidebar .panel-heading a {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
}
#sidebar .panel-group .panel+.panel {
    margin-top: 1px;
}

.dash-box {
    text-align: center;
}

#login {
    margin-top: 30px;
}

/* Slider custom style */
#averageTimeSub {
    width:88% !important;
    margin-left: 10%;
}

.highcharts-contextmenu div hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

#sliderInfo {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 1em;
}
.slider.slider-horizontal .slider-tick-label-container {
    overflow: hidden;
    width: 155%;
}
.footer-fluid {
    padding: 0;
}
#footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#footer p {
    margin: 0.4em 0;
}

.footer-logo {
    padding: 0.5em;
}

.dropdown ul {
    max-height: 300px;
    overflow-y: auto;
}

.note{
    font-size: 12px;
    color: #7f7f7f;
    float: right;
    padding: 1em 1em;
}

.separator {
    margin-bottom: 15px;
}

/* react select */
.Select-value {
    color: inherit;
}

.pl0 {
    padding-left: 0;
}

.Select-input>input {
    max-width: 320px;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
    .custom-container {
        padding-top: 15%;
    }
    .Select-input>input {
        max-width: 200px;
    }
    #sidebar {
        min-height: 0;
    }
    #footer img {
        float: none !important;
        text-align: center;
    }
}

.highcharts-tooltip span {
    height:auto;
    width:250px;
    overflow:auto;
    white-space:normal !important;
}

/*
    Customize tooltip for Offers taken chart
*/
.offerstaken .highcharts-tooltip>span {
    background: rgba(255,255,255,0.85);
    border: 1px solid silver;
    border-radius: 3px;
    padding: 8px;
    min-width:max-content;
    width: auto;
}



/*
    Tweet structure

 */

/* Inspired by Steve Schoger's Design tips

 - https://www.refactoringui.com

*/

.twitter-card{
    width: 100%;
    height: 300px;
    border: 1px solid white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: white;
    border-bottom: 1px solid;
    margin-bottom: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.row-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.user-image{
    background-image: url("https://bit.ly/2NIfSbx");
    background-position: center;
    background-size: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-user > * {
    display: block;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.follow{
    padding: 10px 30px;
    border: 1px solid blue;
    border-radius: 30px;
    color: blue;
    font-weight:bold;
    transition: all .2s ease-out;
}

.follow:hover{
    background-color: blue;
    color: white;
}

.user{
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
}

.username{
    font-size: small;
    color: grey;
}

.profile-bio{
    width: 90%;
    margin-bottom: 1rem;
}

.row-middle{
    display: flex;
    flex-direction: column;
}

.profile-location{
    font-size: small;
    color: grey;
    margin-bottom: 10px;
}

.profile-location > i, .profile-website > i {
    font-size: 1rem;
    color: grey;
    margin-right: 5px;
}

.profile-website > i{
    margin-right: 2px;
}

.profile-website{
    margin-bottom: 1.2rem;
}

.profile-website > a{
    text-decoration: none;
    font-size: small;
    color: blue;
}

.row-bottom{
    border-top: 1px solid #ccc;
    padding-top: 1rem;
    display: flex;
    justify-content: flex-start;
}

.row-bottom > *:not(:first-child) {
    padding-left: 6rem;
}

.followers-count, .following-count, .likes-count{
    color: grey;
}

.count-meta{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: black;
}

.right-padding-zero {
    padding-right: 0px;
}

.left-padding-zero {
    padding-left: 0px;
}

.hashtags .list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.hashtags .badge {
    color: #fff;
    background-color: #007bff;
    margin-left: 100px;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    box-sizing: border-box;
    display: inline-block;
    padding: .25em .4em;
    font-size: 82%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}